.btn-primary {
    height: 58px;
    cursor: pointer;
    background-color: var(--el-color-primary-new-light-2);
    color: white;
    border-radius: 5px;
    font-size: 18px;

    &:focus {
        background-color: var(--el-color-primary-new-light-5);
    }
    &:hover {
        background-color: var(--el-color-primary-new-light-5);
    }
    &:active {
        background-color: var(--el-color-primary-new);
    }
    &:disabled {
        background-color: var(--el-color-primary-new-light-8);
        cursor: not-allowed;
    }
}
