/* theme color */
// $--color-primary: #5eb6b3;
@use "sass:map";

.el-tag {
  --el-tag-font-size: 16px;
  --el-tag-border-radius: 20px;
}

// colors
$--colors: () !default;
$--colors: map.deep-merge(
    (
        "white": #ffffff,
        "black": #000000,
        "primary": (
            "base": #5eb6b3,
        ),
        "success": (
            "base": #67c23a,
        ),
        "warning": (
            "base": #e6a23c,
        ),
        "danger": (
            "base": #f56c6c,
        ),
        "error": (
            "base": #f56c6c,
        ),
        "info": (
            "base": #909399,
        ),
    ),
    $--colors
);

// font-size
$--font-size: () !default;
$--font-size: map.merge(
  (
    'extra-large': 28px,
    'large': 26px,
    'medium': 24px,
    'base': 22px,
    'small': 21px,
    'extra-small': 20px,
  ),
  $--font-size
);

// border
// $--border-style-base: none none solid !default;

// radio
$--radio-input-width: 28px;
$--radio-input-height: 28px;

/* icon font path, required */
$--font-path: "~element-plus/lib/theme-chalk/fonts";
@import "~element-plus/packages/theme-chalk/src/index";


.el-radio__inner::after {
    width: 8px;
    height: 8px;
}
