.el-input--prefix .el-input__inner {
    padding-left: 45px !important;
}

.el-input__inner {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.input-invalid {
    .el-input__inner {
        border-bottom-color: red !important;
    }
}

// .el-radio__inner::after {
//     width: 8px;
//     height: 8px;
// }

.el-menu {
    --el-menu-background-color: var(--el-color-primary);
    --el-menu-item-font-size: 26px;
    --el-menu-item-font-color: white;
    --el-text-color-secondary: white;
    --el-menu-item-hover-fill: var(--el-color-primary-light-3);
    border-right: none !important;
}
.el-menu-item {
    background-color: var(--el-color-primary);

    &.is-active {
        color: var(--el-color-primary);
        background-color: var(--el-color-bg);
    }
}

.el-dialog {
    border-radius: 20px;
    overflow: hidden;
    &__header {
        background-color: var(--el-color-primary);
        padding: 20px 30px;
    }
    &__title {
        font-size: 26px;
        font-weight: bold;
        color: var(--el-color-black);
    }
    &__headerbtn &__close {
        color: var(--el-color-black);
        font-size: 30px;
        font-weight: bold;
    }
    &__headerbtn:focus &__close,
    &__headerbtn:hover &__close {
        color: white;
    }
}
.el-message-box {
    border-color: var(--el-color-black);
    &__header {
        background-color: var(--el-color-black);
    }
    &__title {
        color: white;
    }
}

.el-input-number {
    &__decrease,
    &__increase {
        border-radius: 50%;
        border-left: unset;
        border-right: unset;
        font-weight: bolder;
        font-size: 22px;
    }
    &__decrease:not(.is-disabled, :hover),
    &__increase:not(.is-disabled, :hover) {
        color: white !important;
        background-color: var(--el-color-primary);
    }
    .el-input__inner {
        border-bottom-color: transparent !important;
    }
}

// $darkColor: #172021;

// .el-button--black.is-active {
//     background: white !important;
//     border-color: $darkColor !important;
//     color: $darkColor !important;
// }

// .el-button--black:focus,
// .el-button--black:hover {
//     background: white !important;
//     border-color: $darkColor !important;
//     color: $darkColor !important;
// }

// .el-button--black {
//     color: #fff !important;
//     background-color: $darkColor !important;
//     border-color: $darkColor !important;
// }
