.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
}

.clickable {
    cursor: pointer;
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(1.1) translate(5px, 5px);
    }
}
