@use "sass:map";
@use "sass:math";
$colors: (
    "white": #ffffff,
    "black": #172021,
    "primary": (
        "origin": #5eb6b3,
        "base-old": #3c3c3c,
        "base": #c1b399,
        "dark": #4f9493,
        "new": #4472c4,
    ),
    "success": (
        "base": #67c23a,
    ),
    "warning": (
        "base": #e6a23c,
    ),
    "danger": (
        "base": #bb4050,
    ),
    "error": (
        "base": #bb4050,
    ),
    "info": (
        "base": #e6e6e6,
    ),
    "bg": (
        "base": #f8f8f8,
        "dark": #3c3c3c,
    ),
);

$font-size: (
    "extra-large": 28px,
    "large": 26px,
    "medium": 24px,
    "base": 22px,
    "small": 21px,
    "extra-small": 20px,
);
$button-font-size: (
    "default": map.get($font-size, "base"),
    "medium": map.get($font-size, "base"),
    "small": 18px,
    "mini": 14px,
);
$button-font-color: (
    "info": #644c1f,
);
$tag: (
    "font-size": 16px,
    "border-radius": 20px,
);
@forward "~element-plus/theme-chalk/src/common/var.scss" with(
    $colors: $colors,
    $font-size: $font-size,
    $button-font-size: $button-font-size,
    $button-font-color: $button-font-color,
    $tag: $tag,
    $font-path: '~element-plus/theme-chalk/fonts',
);

$color-bg: map.get($colors, "bg", "base");
$color-bg-dark: map.get($colors, "bg", "dark");
$color-primary-dark: map.get($colors, "primary", "dark");
$color-primary-new: map.get($colors, "primary", "new");

$color-primary: map.get($colors, "primary", "base");

:root {
    --el-color-bg: #{$color-bg};
    --el-color-bg-dark: #{$color-bg-dark};
    --el-color-primary-dark: #{$color-primary-dark};
    --el-color-primary-new: #{$color-primary-new};

    @for $i from 1 through 9 {
        --el-color-primary-new-light-#{$i}: #{mix(white, $color-primary-new, math.percentage(math.div($i, 10)))};
    }
}

// $--radio: () !default;
// $--radio: map.merge(
//     (
//         "input-height": 28px,
//         "input-width": 28px,
//     ),
//     $--radio
// );

:export {
    colorPrimary: $color-primary;
    colorBgDark: $color-bg-dark;
}
